.vs/
.vscode/
.idea/

bin/
obj/

*.user
/obj
/obj
/bin
/bin
/obj
/obj/Debug/net8.0
/bin/Debug/net8.0
obj/Debug/net8.0/VFXPlus.pdb
/bin/Debug/net8.0
/obj/Debug/net8.0/ref
/bin
/bin/Debug/net8.0
/obj/Debug/net8.0/ref
